<!-- Parallax -->
<section class="parallax parallax-1" id="parallax-quote-1" >
  <div class="overlay dark-5">
    <!-- dark overlay [1 to 9 opacity] -->
  </div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-90 fw-300">GET A QUOTE</h2>
      <a class="btn btn-lg btn-default btn-lg" href="/">HOME <i class="fa fa-angle-right"></i></a>
      &nbsp; OR &nbsp;
      <a class="btn btn-lg btn-red" href="/#contact">CONTACT US <i
							class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
<!-- /Parallax -->
<section style="padding: 0;">
  <div>
    <div class="heading-title heading-dotted text-center mt-35">
      <h3 class="fs-50">Select the type <span> of building</span></h3>
    </div>
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">
      <!-- Accordion card -->
      <div class="card mb-0" id="res">
        <!-- begin form for DB -->
        <%= form_for @quotes, url: { action: "create" } do |f| %>
          <!-- Card header -->
          <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading10">
            <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10"
								aria-expanded="true" aria-controls="collapse10">
              <div button type="button"
									class="btn btn-fullwidth btn-outline-danger text-center font-weight-bold"
                                    style="width: 100%;">
                Residential
              </div>
            </a>
          </div>
          <!-- Card body -->
          <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
							data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text">
              <div class="row">
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_apartments_the_building_offers %>
                    <br>
                    <%= f.text_field :number_apartments, :class => 'form-control', :placeholder => 'Nb. Appartments',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_floors_in_the_building %>
                    <br>
                    <%= f.text_field :number_floors, :class => 'form-control', :placeholder => 'Nb. Floor',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_basements_in_the_building %>
                    <br>
                    <%= f.text_field :number_basements, :class => 'form-control', :placeholder => 'Nb. Basements',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_elevator_needed_for_the_building %>
                    <br>
                    <%= f.text_field :number_elevator_shaft, :class => 'form-control', :disabled => true, :placeholder => 'Nb. Elevator' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h4 class="fs-20">Select Your Product Line : </h4>
                <div class="row text-center">
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-1' %>
                    <%= label_tag :Standard, "Standard: $7,565 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-2' %>
                    <%= label_tag :Premium, "Premium: $12,345 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-3' %>
                    <%= label_tag :Excelium, "Excelium: $15,400 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_elevators %>
                    <br>
                    <%= f.text_field :price_unit, :class => 'form-control', :disabled => true, :placeholder => 'Elevator Cost' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_installation_fee %>
                    <br>
                    <%= f.text_field :install_fee, :class => 'form-control', :disabled => true, :placeholder => 'Installation Fee' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Final_price %>
                    <br>
                    <%= f.text_field :total_price , :class => 'form-control', :disabled => true, :placeholder => 'Total Cost' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-lg btn-default">Reset</button>
                <span class="fs-20">&#160; OR &#160;</span>
                <%= f.submit %>
                <button type="button" onclick="offer()" class="btn btn-lg btn-red">Submit</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
      <div class="card mb-0" id="com">
        <%= form_for @quotes, url: { action: "create" } do |f| %>
          <!-- Card header -->
          <div class="card-header z-depth-1 teal lighten-3" role="tab" id="heading11">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11"
								aria-expanded="false" aria-controls="collapse11">
              <div button type="button"
									class="btn btn-fullwidth btn-outline-info text-center font-weight-bold"
                                    style="width: 100%;">
                Commercial
              </div>
            </a>
          </div>
          <!-- Card body -->
          <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
							data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text">
              <div class="row">
                <div class="col-md-4">
                  <div id="businesses-div" class="row m-5 mtop-10">
                    <%= f.label :The_number_of_distinct_businesses %>
                    <br>
                    <%= f.text_field :distinct_business, :class => 'form-control', :placeholder => 'Nb. Businesses',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :number_floors %>
                    <br>
                    <%= f.text_field :number_floors , :class => 'form-control', :placeholder => 'Nb. Floors',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_basements_in_the_building %>
                    <br>
                    <%= f.text_field :number_basements, :class => 'form-control', :placeholder => 'Nb. Basements',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_parking_space_available %>
                    <br>
                    <%= f.text_field :number_parking, :class => 'form-control', :placeholder => 'Nb. Parking Space',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_elevator_cages_to_deploy %>
                    <br>
                    <%= f.text_field :number_elevator_shaft, :class => 'form-control', :placeholder => 'Nb. Cages',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_elevator_needed_for_the_building %>
                    <br>
                    <%= f.text_field :number_elevator, :class => 'form-control', :disabled => true, :placeholder => 'Nb. Elevator' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h4 class="fs-20">Select Your Product Line : </h4>
                <div class="row text-center">
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-1' %>
                    <%= label_tag :Standard, "Standard: $7,565 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-2' %>
                    <%= label_tag :Premium, "Premium: $12,345 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-3' %>
                    <%= label_tag :Excelium, "Excelium: $15,400 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_elevators %>
                    <br>
                    <%= f.text_field :price_unit, :class => 'form-control', :disabled => true, :placeholder => 'Elevator Cost' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_installation_fee %>
                    <br>
                    <%= f.text_field :install_fee, :class => 'form-control', :disabled => true, :placeholder => 'Installation Fee' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Final_price %>
                    <br>
                    <%= f.text_field :total_price , :class => 'form-control', :disabled => true, :placeholder => 'Total Cost' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-lg btn-default">Reset</button>
                <span class="fs-20">&#160; OR &#160;</span>
                <%= f.submit %>
                <button type="button" onclick="offer()" class="btn btn-lg btn-red">Submit</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
      <div class="card mb-0" id="cor">
        <%= form_for @quotes, url: { action: "create" } do |f| %>
          <!-- Card header -->
          <div class="card-header z-depth-1 teal lighten-2" role="tab" id="heading12">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse12"
								aria-expanded="false" aria-controls="collapse12">
              <div button type="button"
									class="btn btn-fullwidth btn-outline-danger text-center font-weight-bold"
                                    style="width: 100%;">
                Corporate
              </div>
            </a>
          </div>
          <!-- Card body -->
          <div id="collapse12" class="collapse" role="tabpanel" aria-labelledby="heading12"
							data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text">
              <div class="row">
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_separate_tenant_companies %>
                    <br>
                    <%= f.text_field :distinct_business, :class => 'form-control', :placeholder => 'Nb. Companies',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_floors_in_the_building %>
                    <br>
                    <%= f.text_field :number_floors, :class => 'form-control', :placeholder => 'Nb. Floors',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_basements_in_the_building %>
                    <br>
                    <%= f.text_field :number_basements, :class => 'form-control', :placeholder => 'Nb. Basements',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_parking_space_available %>
                    <br>
                    <%= f.text_field :number_parking , :class => 'form-control', :placeholder => 'Nb. Parking Space',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_occupants_per_floor %>
                    <br>
                    <%= f.text_field :maximum_occupant, :class => 'form-control', :placeholder => 'Nb. Occupants per Floor',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_elevator_needed_for_the_building %>
                    <br>
                    <%= f.text_field :number_elevator, :class => 'form-control', :disabled => true, :placeholder => 'Nb. Elevator' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h4 class="fs-20">Select Your Product Line : </h4>
                <div class="row text-center">
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-1' %>
                    <%= label_tag :Standard, "Standard: $7,565 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-2' %>
                    <%= label_tag :Premium, "Premium: $12,345 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-3' %>
                    <%= label_tag :Excelium, "Excelium: $15,400 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_elevators %>
                    <br>
                    <%= f.text_field :price_unit, :class => 'form-control', :disabled => true, :placeholder => 'Elevator Cost' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_installation_fee %>
                    <br>
                    <%= f.text_field :install_fee, :class => 'form-control', :disabled => true, :placeholder => 'Installation Fee' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Final_price %>
                    <br>
                    <%= f.text_field :total_price, :class => 'form-control', :disabled => true, :placeholder => 'Total Cost' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-lg btn-default">Reset</button>
                <span class="fs-20">&#160; OR &#160;</span>
                <%= f.submit %>
                <button type="button" onclick="offer()" class="btn btn-lg btn-red">Submit</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Accordion card -->
      <!-- Accordion card -->
      <div class="card mb-0" id="hyb">
        <%= form_for @quotes, url: { action: "create" } do |f| %>
          <!-- Card header -->
          <div class="card-header z-depth-1 teal lighten-1" role="tab" id="heading13">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx2" href="#collapse13"
								aria-expanded="true" aria-controls="collapse13">
              <div button type="button"
									class="btn btn-fullwidth btn-outline-info text-center font-weight-bold"
                                    style="width: 100%;">
                Hybrid
              </div>
            </a>
          </div>
          <!-- Card body -->
          <div id="collapse13" class="collapse" role="tabpanel" aria-labelledby="heading13"
							data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text">
              <div class="row">
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_separate_tenant_companies %>
                    <br>
                    <%= f.text_field :distinct_business, :class => 'form-control', :placeholder => 'Nb. Companies',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_floors_in_the_building %>
                    <br>
                    <%= f.text_field :number_floors, :class => 'form-control', :placeholder => 'Nb. Floors',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_basements_in_the_building %>
                    <br>
                    <%= f.text_field :number_basements, :class => 'form-control', :placeholder => 'Nb. Basements',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_parking_space_available %>
                    <br>
                    <%= f.text_field :number_parking, :class => 'form-control', :placeholder => 'Nb. Parking Space',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_occupants_per_floor %>
                    <br>
                    <%= f.text_field :maximum_occupant, :class => 'form-control', :placeholder => 'Nb. Occupants per Floor',
                                            :type => 'number', :onkeydown => 'return event.keyCode !== 69 && event.keyCode !== 189',
                                            :min => '1' %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_hours_of_activity %>
                    <br>
                    <%= f.select :hours_activity, options_for_select([
                                                ['0 hours'], ['1 hours'], ['2 hours'],
                                                ['3 hours'], ['4 hours'], ['5 hours'],
                                                ['6 hours'], ['7 hours'], ['8 hours'],
                                                ['9 hours'], ['10 hours'], ['11 hours'],
                                                ['12 hours'], ['13 hours'], ['14 hours'],
                                                ['15 hours'], ['16 hours'], ['17 hours'],
                                                ['18 hours'], ['19 hours'], ['20 hours'],
                                                ['21 hours'], ['22 hours'], ['23 hours'],
                                                ['24 hours']
                                            ]), {}, {required: true, autofocus: true, :class => 'form-control color-black'} %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= f.label :The_number_of_elevator_needed_for_the_building %>
                    <br>
                    <%= f.text_field :number_elevator, :class => 'form-control', :disabled => true, :placeholder => 'Nb. Elevator' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h4 class="fs-20">Select Your Product Line : </h4>
                <div class="row text-center">
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-1' %>
                    <%= label_tag :Standard, "Standard: $7,565 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-2' %>
                    <%= label_tag :Premium, "Premium: $12,345 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                  <div class="col-md-4">
                    <%= radio_button_tag :prod, 'prodLine-3' %>
                    <%= label_tag :Excelium, "Excelium: $15,400 per elevator", :class => 'fs-15 text-center' %>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_elevators %>
                    <br>
                    <%= f.text_field :price_unit, :class => 'form-control', :disabled => true, :placeholder => 'Elevator Cost' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Price_for_all_the_installation_fee %>
                    <br>
                    <%= f.text_field :install_fee, :class => 'form-control', :disabled => true, :placeholder => 'Installation Fee' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row m-5 mtop-10">
                    <%= f.label :Final_price %>
                    <br>
                    <%= f.text_field :total_price, :class => 'form-control', :disabled => true, :placeholder => 'Total Cost' %>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-lg btn-default">Reset</button>
                <span class="fs-20">&#160; OR &#160;</span>
                <%= f.submit %>
                <button type="button" onclick="offer()" class="btn btn-lg btn-red">Submit</button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- Accordion card -->
    </div>
    <!--/.Accordion wrapper-->
  </div>
</section>
<section class="info-bar info-bar-color">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <h3>BUISNESS WORLDWIDE</h3>
        <p>We do business all over the world</p>
      </div>
      <div class="col-sm-4 text-center">
        <h3>SATISFACTION GUARANTEE</h3>
        <p>Peace of mind with us</p>
      </div>
      <div class="col-sm-4 text-center">
        <h3>ONLINE SUPPORT 24/7</h3>
        <p>We're here for you</p>
      </div>
    </div>
  </div>
</section>
<!-- /INFO BAR -->
