<section class="parallax parallax-1" id="parallax-quote-1" >
  <div class="overlay dark-5">
  </div>
  <div class="container">
    <div class="text-center">
      <h2 class="fs-90 fw-300">GET A QUOTE</h2>
      <a class="btn btn-lg btn-default btn-lg" href="/">HOME <i class="fa fa-angle-right"></i></a>
      &nbsp; OR &nbsp;
      <a class="btn btn-lg btn-red" href="/#contact">CONTACT US <i
							class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
<section style="padding: 0;">
  <div>
    <div class="heading-title heading-dotted text-center mt-35">
      <h3 class="fs-50">Select the type <span> of building</span></h3>
    </div>
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">
      <!-- Accordion card -->
      <div class="card mb-0" id="res">
        <!-- begin form for DB -->
        <%= form_for @quotes, url: { action: "create" } do |f| %>
          <!-- Card header -->
          <div class="card-header z-depth-1 teal lighten-4" role="tab" id="heading10">
            <a data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10"
								aria-expanded="true" aria-controls="collapse10">
              <div button type="button"
									class="btn btn-fullwidth btn-outline-danger text-center font-weight-bold"
                                    style="width: 100%;">
                Residential
              </div>
            </a>
          </div>
          <div id="collapse10" class="collapse" role="tabpanel" aria-labelledby="heading10"
							data-parent="#accordionEx2">
            <div class="card-body rgba-teal-strong white-text">
              <div class="row">
                <div class="col-md-3">
                  <div class="row m-5 mtop-10">
                    <%= simple_form_for(@quote) do |f| %>
                      <%= f.error_notification %>
                      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
                      <div class="form-inputs">
                        <%= f.input :apartments %>
                        <%= f.input :floors %>
                        <%= f.input :basements %>
                        <%= f.input :businesses %>
                        <%= f.input :elevator_shafts %>
                        <%= f.input :parking_spaces %>
                        <%= f.input :occupants %>
                        <%= f.input :opening_hours %>
                        <%= f.input :product_line %>
                        <%= f.input :install_fee %>
                        <%= f.input :total_price %>
                        <%= f.input :unit_price %>
                        <%= f.input :elevator_number %>
                        <%= f.input :user_id %>
                      </div>
                      <div class="form-actions">
                        <%= f.button :submit %>
                      </div>
                    <% end %>
