<p id="notice"><%= notice %></p>

<p>
  <strong>Apartments:</strong>
  <%= @quote.apartments %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @quote.floors %>
</p>

<p>
  <strong>Basements:</strong>
  <%= @quote.basements %>
</p>

<p>
  <strong>Businesses:</strong>
  <%= @quote.businesses %>
</p>

<p>
  <strong>Elevator shafts:</strong>
  <%= @quote.elevator_shafts %>
</p>

<p>
  <strong>Parking spaces:</strong>
  <%= @quote.parking_spaces %>
</p>

<p>
  <strong>Occupants:</strong>
  <%= @quote.occupants %>
</p>

<p>
  <strong>Opening hours:</strong>
  <%= @quote.opening_hours %>
</p>

<p>
  <strong>Product line:</strong>
  <%= @quote.product_line %>
</p>

<p>
  <strong>Install fee:</strong>
  <%= @quote.install_fee %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @quote.total_price %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @quote.unit_price %>
</p>

<p>
  <strong>Elevator number:</strong>
  <%= @quote.elevator_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @quote.user_id %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
